# task 1

In [1]:
import pandas as pd

# Read the "Orders" sheet from the Excel file
df = pd.read_excel('Sample_Superstore.xls', sheet_name='Orders')

# Remove duplicate columns
df = df.loc[:, ~df.columns.duplicated()]

# Remove duplicate rows
df = df.drop_duplicates()

# Remove blank columns
df = df.dropna(axis=1, how='all')

# Remove blank rows
df = df.dropna(axis=0, how='all')

# Print the cleaned DataFrame
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Sub-Category.2,Product Name.1,Sales.2,Quantity.2,Discount.1,Profit.1,Country.2,Region.2,Sub-Category.3,Quantity.3
0,1.0,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Bookcases,Bush Somerset Collection Bookcase,261.9600,2.0,0.00,41.9136,United States,South,Bookcases,2.000
1,2.0,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3.0,0.00,219.5820,United States,South,Chairs,3.000
2,3.0,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2.0,0.00,6.8714,United States,West,Labels,2.000
3,4.0,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0,0.45,-383.0310,United States,South,Tables,5.000
4,5.0,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,Storage,Eldon Fold 'N Roll Cart System,22.3680,2.0,0.20,2.5164,United States,South,Storage,2.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11415,9980.0,US-2016-103674,2016-12-06,2016-12-10,Standard Class,AP-10720,Anne Pryor,Home Office,United States,Los Angeles,...,Binders,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,437.472
11416,9981.0,US-2015-151435,2015-09-06,2015-09-09,Second Class,SW-20455,Shaun Weien,Consumer,United States,Lafayette,...,Tables,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85.980
11417,9982.0,CA-2017-163566,2017-08-03,2017-08-06,First Class,TB-21055,Ted Butterfield,Consumer,United States,Fairfield,...,Labels,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.520
11418,9983.0,US-2016-157728,2016-09-22,2016-09-28,Standard Class,RC-19960,Ryan Crowe,Consumer,United States,Grand Rapids,...,Paper,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.560
11419,9984.0,US-2016-157728,2016-09-22,2016-09-28,Standard Class,RC-19960,Ryan Crowe,Consumer,United States,Grand Rapids,...,Phones,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.980

# Task 2

In [5]:
import pandas as pd

# Assuming 'df' is your DataFrame containing the relevant columns

df['Profit'] = pd.to_numeric(df['Profit'], errors='coerce').fillna(0)
profit = df.groupby("Order Date")["Profit"].sum()

max_profit = profit.max()
date_of_max_profit = profit.idxmax()

print('Date:', date_of_max_profit)
print('Max Profit:', max_profit)

Date: 2016-10-02 00:00:00
Max Profit: 8738.7971

# task 3

In [6]:
#    task 3
#   Task 3: Calculate average sales w.r.t. States.
    
import pandas as pd

average_sales = df.groupby("State")["Sales"].mean()

print(average_sales)

State
Alabama                  308.574844
Arizona                  151.143224
Arkansas                 221.123710
California               231.220057
Colorado                 168.818168
Connecticut              160.225943
Delaware                 262.923173
District of Columbia      27.832857
Florida                  222.605841
Georgia                  257.549550
Idaho                    210.268667
Illinois                 159.018820
Indiana                  343.774651
Iowa                     133.825429
Kansas                   121.429583
Kentucky                 279.690000
Louisiana                232.291915
Maine                    171.604545
Maryland                 213.927219
Massachusetts            215.781369
Michigan                 310.400550
Minnesota                327.102737
Mississippi              199.539273
Missouri                 398.180533
Montana                  372.623467
Nebraska                 192.800976
Nevada                   401.319826
New Hampshire            263.350483
New Jersey               251.269169
New Mexico               120.023561
New York                 274.621869
North Carolina           227.001500
North Dakota             131.415714
Ohio                     162.373207
Oklahoma                 310.660000
Oregon                   144.847500
Pennsylvania             200.413271
Rhode Island             386.232983
South Carolina           201.945476
South Dakota             109.630000
Tennessee                174.095042
Texas                    174.357128
Utah                     203.244929
Vermont                  846.925500
Virginia                 289.636743
Washington               266.461544
West Virginia            376.633600
Wisconsin                284.248231
Wyoming                 1603.136000
Name: Sales, dtype: float64

#   task 4

In [7]:
    # Task 4: On which Order Date, the Super Store Company generated lowest profit
    #  and display the customer name and ID.
    
    
import pandas as pd

df['Profit'] = pd.to_numeric(df['Profit'], errors='coerce').fillna(0)
lowest_profit = df.groupby("Order Date")["Profit"].sum().idxmin()

lowest_profit_orders = df[df["Order Date"] == lowest_profit]
customer_info = lowest_profit_orders[["Customer Name", "Customer ID"]]

print("Order Date with Lowest Profit:", lowest_profit)
print("Customer Information:")
print(customer_info)

Order Date with Lowest Profit: 2016-11-25 00:00:00
Customer Information:
       Customer Name Customer ID
3463     Heather Jas    HJ-14875
6573      Barry Pond    BP-11050
6574      Barry Pond    BP-11050
6977      Emily Phan    EP-13915
7686   Brenda Bowman    BB-11545
7687   Brenda Bowman    BB-11545
7688   Brenda Bowman    BB-11545
7771   Cindy Stewart    CS-12505
7772   Cindy Stewart    CS-12505
7773   Cindy Stewart    CS-12505
8342      Jay Kimmel    JK-15370
8646   Mark Hamilton    MH-17455
10082  Mark Hamilton    MH-17455

# task 5

In [8]:
#   Task 5:    Display the most used Ship Mode.

import pandas as pd
ship_mode = df['Ship Mode'].value_counts().idxmax()
print('Most Used Ship Mode:', ship_mode)

Most Used Ship Mode: Standard Class

# task 6

In [ ]:
#  task 6: display arizonas customer name who gave highest profit to company


import pandas as pf
arizona_customers = df[df['State'] == 'Arizona']
h_p_name = arizona_customers.loc[arizona_customers['Profit'].idxmax(), 'Customer Name']
print("Name of customer with Highest Profit in Arizona:", h_p_name)

# task 7

In [10]:
#  Task 7: Display the name of the state that generated the most profits.

import pandas as pd
state_profits = df.groupby("State")["Profit"].sum()
most_profitable_state = state_profits.idxmax()
print("THe state that generated the most profits : ", most_profitable_state )

THe state that generated the most profits :  California


# task 8

In [11]:
#  Task 8: Display the name of Category that generated the most sales.

import pandas as pd
category_sales = df.groupby("Category")["Sales"].sum()
category = category_sales.idxmax()
print("the category that generated the most sales : ", category )

the category that generated the most sales :  Technology